/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #f5ebdc;
}
h1 {
  font-weight: 100;
  text-transform: capitalize;
}
 li {
  list-style-type: none;
 }
 a {
  padding: 7px 10px;
  background: #188118;
  border-radius: 5px;
  color: white;
  text-decoration: none;
 }
 a:hover {
  color: white;
  text-decoration: underline;
 }
 li a:hover {
  color: black;
 }
 li a {
  color: black;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
 }
div.container {
  max-width: 600px !important;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0px 3px 6px;
}
div.details {
  background-color: #c7cacd;
}
form {
  display:table-caption;
  margin-bottom: 30px;
}
form label {
  font-weight:bold;
}
input[type="submit"] {
  margin-top: 10px;
}
